USE [master]
GO
/****** Object:  Database [QL_HSGV_THPT]    Script Date: 5/9/2019 3:03:09 PM ******/
CREATE DATABASE [QL_HSGV_THPT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL HS-GV THPT', FILENAME = N'F:\huan\Thuc tap nhom chieu thu 4\QL HS-GV\QL HS-GV THPT.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL HS-GV THPT_log', FILENAME = N'F:\huan\Thuc tap nhom chieu thu 4\QL HS-GV\QL HS-GV THPT_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_HSGV_THPT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_HSGV_THPT]
GO
/****** Object:  StoredProcedure [dbo].[THEM_GIAOVIEN]    Script Date: 5/9/2019 3:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEM_GIAOVIEN]
	@MAGV CHAR(10),
	@HOGV NVARCHAR(50),
	@TENGV NVARCHAR(50),
	@NS DATE,
	@GT NVARCHAR(10),
	@DC NVARCHAR(500),
	@SDT INT,
	@MA_BO_MON CHAR(10)
AS
BEGIN
	INSERT INTO GIAOVIEN(MAGV, HOGV, TENGV, NS, GT, DC, SDT, MA_BO_MON)
	VALUES(@MAGV, @HOGV, @TENGV, @NS, @GT, @DC, @SDT, @MA_BO_MON)
END


GO
/****** Object:  Table [dbo].[CHITIET_LOP]    Script Date: 5/9/2019 3:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIET_LOP](
	[MAHS] [char](10) NOT NULL,
	[MALOP] [char](10) NOT NULL,
 CONSTRAINT [PK_CHITIET_LOP] PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC,
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHUYEN]    Script Date: 5/9/2019 3:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUYEN](
	[MA_CHUYEN] [char](10) NOT NULL,
	[TEN_CHUYEN] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHUYEN] PRIMARY KEY CLUSTERED 
(
	[MA_CHUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIEM_CHITIET]    Script Date: 5/9/2019 3:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIEM_CHITIET](
	[MAMONHOC] [char](10) NOT NULL,
	[MA_LOAI_KT] [char](10) NOT NULL,
	[DIEMSO] [float] NULL,
 CONSTRAINT [PK_DIEM_CHITIET] PRIMARY KEY CLUSTERED 
(
	[MAMONHOC] ASC,
	[MA_LOAI_KT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIEM_KT]    Script Date: 5/9/2019 3:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIEM_KT](
	[MA_LOAI_KT] [char](10) NOT NULL,
	[TENLOAI_KT] [nvarchar](50) NULL,
	[HESO] [int] NULL,
 CONSTRAINT [PK_DIEM_KT] PRIMARY KEY CLUSTERED 
(
	[MA_LOAI_KT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIEM_TKCN]    Script Date: 5/9/2019 3:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIEM_TKCN](
	[MADIEM_TKCN] [char](10) NOT NULL,
	[MAHS] [char](10) NULL,
	[MANH] [char](10) NULL,
	[DIEM_TKCN] [float] NULL,
 CONSTRAINT [PK_DIEM_TKCN] PRIMARY KEY CLUSTERED 
(
	[MADIEM_TKCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIEM_TKHK]    Script Date: 5/9/2019 3:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIEM_TKHK](
	[MADIEM_TKHK] [char](10) NOT NULL,
	[MAHS] [char](10) NULL,
	[MAHK] [char](10) NULL,
	[MANH] [char](10) NULL,
	[DIEMTK] [float] NULL,
 CONSTRAINT [PK_DIEM_TKHK] PRIMARY KEY CLUSTERED 
(
	[MADIEM_TKHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIEMMH]    Script Date: 5/9/2019 3:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIEMMH](
	[MADIEM] [char](10) NOT NULL,
	[MAHK] [char](10) NULL,
	[MANH] [char](10) NULL,
	[MAHS] [char](10) NULL,
	[MAMONHOC] [char](10) NULL,
	[TB] [float] NULL,
 CONSTRAINT [PK_DIEMMH] PRIMARY KEY CLUSTERED 
(
	[MADIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 5/9/2019 3:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [char](10) NOT NULL,
	[HOGV] [nvarchar](50) NULL,
	[TENGV] [nvarchar](50) NULL,
	[NS] [date] NULL,
	[GT] [nvarchar](10) NULL,
	[DC] [nvarchar](500) NULL,
	[SDT] [int] NULL,
	[MAMONHOC] [char](10) NULL,
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOC_KY]    Script Date: 5/9/2019 3:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOC_KY](
	[MAHK] [char](10) NOT NULL,
	[TENHK] [nvarchar](50) NULL,
	[HESO] [int] NULL,
 CONSTRAINT [PK_HOC_KY] PRIMARY KEY CLUSTERED 
(
	[MAHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOCSINH]    Script Date: 5/9/2019 3:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOCSINH](
	[MAHS] [char](10) NOT NULL,
	[HOHS] [nvarchar](50) NULL,
	[TENHS] [nvarchar](50) NULL,
	[NS] [datetime] NULL,
	[GT] [nvarchar](10) NULL,
	[DC] [nvarchar](500) NULL,
	[SDT] [nchar](10) NULL,
	[HOTEN_BO] [nvarchar](50) NULL,
	[NN_BO] [nvarchar](500) NULL,
	[HOTEN_ME] [nvarchar](50) NULL,
	[NN_ME] [nvarchar](500) NULL,
 CONSTRAINT [PK_HOCSINH] PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOI]    Script Date: 5/9/2019 3:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOI](
	[MAKHOI] [char](10) NOT NULL,
	[TENKHOI] [nvarchar](50) NULL,
	[SL_LOP] [int] NULL,
 CONSTRAINT [PK_KHOI] PRIMARY KEY CLUSTERED 
(
	[MAKHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 5/9/2019 3:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [char](10) NOT NULL,
	[TENLOP] [nvarchar](50) NULL,
	[MA_LOP_TR] [char](10) NULL,
	[MA_GVCN] [char](10) NULL,
	[MA_CHUYEN] [char](10) NULL,
	[MAKHOI] [char](10) NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 5/9/2019 3:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMONHOC] [char](10) NOT NULL,
	[TEN_MON] [nvarchar](50) NULL,
	[HESO] [int] NULL,
 CONSTRAINT [PK_BOMON] PRIMARY KEY CLUSTERED 
(
	[MAMONHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NAM_HOC]    Script Date: 5/9/2019 3:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NAM_HOC](
	[MANH] [char](10) NOT NULL,
	[TENNH] [nvarchar](50) NULL,
 CONSTRAINT [PK_NAM_HOC] PRIMARY KEY CLUSTERED 
(
	[MANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHAN_CONG]    Script Date: 5/9/2019 3:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHAN_CONG](
	[MAGV] [char](10) NOT NULL,
	[MALOP] [char](10) NOT NULL,
	[TG] [nvarchar](500) NULL,
 CONSTRAINT [PK_PHAN_CONG] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC,
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHUYEN] ([MA_CHUYEN], [TEN_CHUYEN]) VALUES (N'CK001     ', N'TOÁN-LÝ-ANH')
INSERT [dbo].[CHUYEN] ([MA_CHUYEN], [TEN_CHUYEN]) VALUES (N'CK002     ', N'TOÁN-LÝ-HÓA')
INSERT [dbo].[CHUYEN] ([MA_CHUYEN], [TEN_CHUYEN]) VALUES (N'CK003     ', N'TOÁN-HÓA-SINH')
INSERT [dbo].[DIEM_KT] ([MA_LOAI_KT], [TENLOAI_KT], [HESO]) VALUES (N'LKT001    ', N'MIỆNG', NULL)
INSERT [dbo].[DIEM_KT] ([MA_LOAI_KT], [TENLOAI_KT], [HESO]) VALUES (N'LKT002    ', N'15 PHÚT', NULL)
INSERT [dbo].[DIEM_KT] ([MA_LOAI_KT], [TENLOAI_KT], [HESO]) VALUES (N'LKT003    ', N'1 TIẾT', NULL)
INSERT [dbo].[GIAOVIEN] ([MAGV], [HOGV], [TENGV], [NS], [GT], [DC], [SDT], [MAMONHOC]) VALUES (N'GV00001   ', N'HOÀNG THÁI', N'THỊNH', CAST(0xCE080B00 AS Date), N'NAM', N'HÀ NỘI', 1454958900, N'BM001     ')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HOGV], [TENGV], [NS], [GT], [DC], [SDT], [MAMONHOC]) VALUES (N'GV00002   ', N'TRẦN NINH', N'NHẤT', CAST(0x6EFD0A00 AS Date), N'NAM', N'HÀ NỘI', NULL, N'BM001     ')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HOGV], [TENGV], [NS], [GT], [DC], [SDT], [MAMONHOC]) VALUES (N'GV00003   ', N'NGUYỄN VĂN', N'PHONG', NULL, NULL, NULL, NULL, N'BM001     ')
INSERT [dbo].[HOC_KY] ([MAHK], [TENHK], [HESO]) VALUES (N'HK001     ', N'HỌC KỲ 1', NULL)
INSERT [dbo].[HOC_KY] ([MAHK], [TENHK], [HESO]) VALUES (N'HK002     ', N'HỌC KỲ 2', NULL)
INSERT [dbo].[HOCSINH] ([MAHS], [HOHS], [TENHS], [NS], [GT], [DC], [SDT], [HOTEN_BO], [NN_BO], [HOTEN_ME], [NN_ME]) VALUES (N'HS001     ', N'NGUYỄN TRẪN', N'LONG', CAST(0x000091B100000000 AS DateTime), N'NAM', N'HÀ NỘI', N'0349293489', N'NGUYỄN HẢI BẢO', N'BÁC SĨ', N'LƯU THỊ THU', N'GIÁO VIÊN')
INSERT [dbo].[HOCSINH] ([MAHS], [HOHS], [TENHS], [NS], [GT], [DC], [SDT], [HOTEN_BO], [NN_BO], [HOTEN_ME], [NN_ME]) VALUES (N'HS002     ', N'TRẦN VIỆT', N'PHƯƠNG', CAST(0x0000950E0182AD74 AS DateTime), N'Nam', N'HÀ NỘI', N'0930982948', N'TRẦN NHẬT NAM', N'GIÁM ĐỐC CÔNG TY CNHH NHẬT THẮNG', N'HOÀNG THỊ THU', N'NỘI TRỢ GIA ĐÌNH')
INSERT [dbo].[KHOI] ([MAKHOI], [TENKHOI], [SL_LOP]) VALUES (N'MK001     ', N'10', 10)
INSERT [dbo].[KHOI] ([MAKHOI], [TENKHOI], [SL_LOP]) VALUES (N'MK002     ', N'11', 10)
INSERT [dbo].[KHOI] ([MAKHOI], [TENKHOI], [SL_LOP]) VALUES (N'MK003     ', N'12', 10)
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MA_LOP_TR], [MA_GVCN], [MA_CHUYEN], [MAKHOI]) VALUES (N'L010A01   ', N'LỚP 10A1', N'HS0001    ', N'GV0001    ', NULL, NULL)
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MA_LOP_TR], [MA_GVCN], [MA_CHUYEN], [MAKHOI]) VALUES (N'L010A02   ', N'LỚP 10A2', NULL, NULL, NULL, NULL)
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MA_LOP_TR], [MA_GVCN], [MA_CHUYEN], [MAKHOI]) VALUES (N'L010A03   ', N'LỚP 10A3', NULL, NULL, NULL, NULL)
INSERT [dbo].[MONHOC] ([MAMONHOC], [TEN_MON], [HESO]) VALUES (N'BM001     ', N'TOÁN HỌC', 2)
INSERT [dbo].[MONHOC] ([MAMONHOC], [TEN_MON], [HESO]) VALUES (N'BM002     ', N'NGỮ VĂN', 2)
INSERT [dbo].[MONHOC] ([MAMONHOC], [TEN_MON], [HESO]) VALUES (N'BM003     ', N'SINH HỌC', 1)
INSERT [dbo].[NAM_HOC] ([MANH], [TENNH]) VALUES (N'MNH001    ', N'2018-2019')
INSERT [dbo].[PHAN_CONG] ([MAGV], [MALOP], [TG]) VALUES (N'GV00002   ', N'L010A01   ', NULL)
ALTER TABLE [dbo].[CHITIET_LOP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_LOP_HOCSINH] FOREIGN KEY([MAHS])
REFERENCES [dbo].[HOCSINH] ([MAHS])
GO
ALTER TABLE [dbo].[CHITIET_LOP] CHECK CONSTRAINT [FK_CHITIET_LOP_HOCSINH]
GO
ALTER TABLE [dbo].[CHITIET_LOP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_LOP_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[CHITIET_LOP] CHECK CONSTRAINT [FK_CHITIET_LOP_LOP]
GO
ALTER TABLE [dbo].[DIEM_CHITIET]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_CHITIET_DIEM_KT] FOREIGN KEY([MA_LOAI_KT])
REFERENCES [dbo].[DIEM_KT] ([MA_LOAI_KT])
GO
ALTER TABLE [dbo].[DIEM_CHITIET] CHECK CONSTRAINT [FK_DIEM_CHITIET_DIEM_KT]
GO
ALTER TABLE [dbo].[DIEM_CHITIET]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_CHITIET_MONHOC] FOREIGN KEY([MAMONHOC])
REFERENCES [dbo].[MONHOC] ([MAMONHOC])
GO
ALTER TABLE [dbo].[DIEM_CHITIET] CHECK CONSTRAINT [FK_DIEM_CHITIET_MONHOC]
GO
ALTER TABLE [dbo].[DIEM_TKCN]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_TKCN_HOCSINH] FOREIGN KEY([MAHS])
REFERENCES [dbo].[HOCSINH] ([MAHS])
GO
ALTER TABLE [dbo].[DIEM_TKCN] CHECK CONSTRAINT [FK_DIEM_TKCN_HOCSINH]
GO
ALTER TABLE [dbo].[DIEM_TKCN]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_TKCN_NAM_HOC] FOREIGN KEY([MANH])
REFERENCES [dbo].[NAM_HOC] ([MANH])
GO
ALTER TABLE [dbo].[DIEM_TKCN] CHECK CONSTRAINT [FK_DIEM_TKCN_NAM_HOC]
GO
ALTER TABLE [dbo].[DIEM_TKHK]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_TKHK_HOC_KY] FOREIGN KEY([MAHK])
REFERENCES [dbo].[HOC_KY] ([MAHK])
GO
ALTER TABLE [dbo].[DIEM_TKHK] CHECK CONSTRAINT [FK_DIEM_TKHK_HOC_KY]
GO
ALTER TABLE [dbo].[DIEM_TKHK]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_TKHK_HOCSINH] FOREIGN KEY([MAHS])
REFERENCES [dbo].[HOCSINH] ([MAHS])
GO
ALTER TABLE [dbo].[DIEM_TKHK] CHECK CONSTRAINT [FK_DIEM_TKHK_HOCSINH]
GO
ALTER TABLE [dbo].[DIEM_TKHK]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_TKHK_NAM_HOC] FOREIGN KEY([MANH])
REFERENCES [dbo].[NAM_HOC] ([MANH])
GO
ALTER TABLE [dbo].[DIEM_TKHK] CHECK CONSTRAINT [FK_DIEM_TKHK_NAM_HOC]
GO
ALTER TABLE [dbo].[DIEMMH]  WITH CHECK ADD  CONSTRAINT [FK_DIEMMH_HOC_KY] FOREIGN KEY([MAHK])
REFERENCES [dbo].[HOC_KY] ([MAHK])
GO
ALTER TABLE [dbo].[DIEMMH] CHECK CONSTRAINT [FK_DIEMMH_HOC_KY]
GO
ALTER TABLE [dbo].[DIEMMH]  WITH CHECK ADD  CONSTRAINT [FK_DIEMMH_HOCSINH] FOREIGN KEY([MAHS])
REFERENCES [dbo].[HOCSINH] ([MAHS])
GO
ALTER TABLE [dbo].[DIEMMH] CHECK CONSTRAINT [FK_DIEMMH_HOCSINH]
GO
ALTER TABLE [dbo].[DIEMMH]  WITH CHECK ADD  CONSTRAINT [FK_DIEMMH_MONHOC] FOREIGN KEY([MAMONHOC])
REFERENCES [dbo].[MONHOC] ([MAMONHOC])
GO
ALTER TABLE [dbo].[DIEMMH] CHECK CONSTRAINT [FK_DIEMMH_MONHOC]
GO
ALTER TABLE [dbo].[DIEMMH]  WITH CHECK ADD  CONSTRAINT [FK_DIEMMH_NAM_HOC] FOREIGN KEY([MANH])
REFERENCES [dbo].[NAM_HOC] ([MANH])
GO
ALTER TABLE [dbo].[DIEMMH] CHECK CONSTRAINT [FK_DIEMMH_NAM_HOC]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_BOMON] FOREIGN KEY([MAMONHOC])
REFERENCES [dbo].[MONHOC] ([MAMONHOC])
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_GIAOVIEN_BOMON]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_CHUYEN] FOREIGN KEY([MA_CHUYEN])
REFERENCES [dbo].[CHUYEN] ([MA_CHUYEN])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_CHUYEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOI] FOREIGN KEY([MAKHOI])
REFERENCES [dbo].[KHOI] ([MAKHOI])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOI]
GO
ALTER TABLE [dbo].[PHAN_CONG]  WITH CHECK ADD  CONSTRAINT [FK_PHAN_CONG_GIAOVIEN1] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[PHAN_CONG] CHECK CONSTRAINT [FK_PHAN_CONG_GIAOVIEN1]
GO
ALTER TABLE [dbo].[PHAN_CONG]  WITH CHECK ADD  CONSTRAINT [FK_PHAN_CONG_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[PHAN_CONG] CHECK CONSTRAINT [FK_PHAN_CONG_LOP]
GO
USE [master]
GO
